[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
mypy = "*"

[packages]
djangorestframework = "*"
django-filter = "*"
markdown = "*"
django = "*"
psycopg2-binary = "*"
pytest-django = "*"
pytest-cov = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
